# -----------------------------
# Airflow / Docker
# -----------------------------
AIRFLOW_UID=50000

# Airflow admin user (for airflow-init)
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change_me_strong_password
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com

# -----------------------------
# Airflow metadata Postgres
# -----------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me_postgres_password

# -----------------------------
# Airflow webserver port (optional)
# -----------------------------
AIRFLOW_WEBSERVER_PORT=8080

# -----------------------------
# DuckDB path used by dbt profile
# (inside container path)
# -----------------------------
DUCKDB_PATH=/opt/duckdb/thesis.duckdb